:root {
    --logo-yellow: #FFE351;
    --logo-black: #282828;
    --logo-shadow: #FF0000;
    --message-yellow: #FFD00A;
    --message-shadow: #9C0A02;

} 

/* fonts */
 /* 'Hanalei Fill', cursive; */
 /* 'Roboto', sans-serif; */


* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
}


/* welcome page */
.welcome {
    /* max-width: 960px; */
    margin: 0 auto;
    height: 100vh;
}
.logo {
    font-size: 144px;
    font-family: 'Hanalei Fill', cursive;
    color: var(--logo-yellow);
    text-shadow: 0 5px var(--logo-shadow);
    text-align: center;
    padding: 1em 0 0.5em 0;
}
.enter-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    font-family:'Roboto', sans-serif;
    margin: 0 auto;
}
.enter-form input {
    /* remove style */
    -webkit-appearance: none;
    box-shadow : none;
    outline: none;

    /* add style */
    width: 20vw;
    height: 5vh;
    text-align: center;
    font-size: 1.25em;
    border: 3px solid var(--logo-black);
    color: var(--logo-black);
    border-radius: 10px;

    /* separation */
    margin: 0 auto  1em auto;
}
.enter-form input:focus {
    border: 5px solid var(--logo-shadow);
}

.welcome-buttons {
    margin: 1em auto;
}
.welcome-buttons button {
    /* remove style */
    all: unset;

    /* add style */
    background-color: var(--logo-yellow);
    padding: 1em 1em;
    border-radius: 20px;
    box-shadow: 0 4px var(--logo-shadow);
    font-size: 1em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--logo-black);

    /* separation */
    margin: 0 0.5em;
}
.welcome-buttons button:active {
    transform:translateY(5px);
    box-shadow: 0 2px var(--logo-shadow);
}

/* register */
.register-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 60%;
    margin: 0 auto;
}
.character-selection {
    justify-content: center;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}
.character-message {
    text-align: center;
    font-size: 2.5em;
    /* font-family: 'Roboto', sans-serif; */
    font-family:'Hanalei Fill', cursive; 
    color: var(--message-yellow);
    text-shadow: 0 5px var(--message-shadow);
    margin: 1em 0;
}
.choose-character {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: center;
    margin: 25% 0;
}
.register-form {
    background-color: lightcoral;
    justify-content: center;
    flex:1;
}

/* character */
.material-icons.arrow-left,
.material-icons.arrow-right{
    font-size: 5em;
    color: var(--message-yellow);
    text-shadow: 0 4px var(--message-shadow);
    margin: auto 0;
    cursor: pointer;
}
.material-icons.arrow-left:active,
.material-icons.arrow-right:active{
    transform:translateY(5px);
    text-shadow: 0 2px var(--message-shadow);
}

.character img {
    min-height: 300px;
}

/* hide & none */
.none {
    display: none;
}
.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
